.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    max-width: 30%;
    grid-row-start: 1;
    grid-column-start: 1;
    height: max-content;
    z-index: 2;
    align-self: center;
    padding-top: 182px;
}

@media (max-width: 1279px) {
    .cover__subtitle {
        max-width: 35%;
    }
}

@media (max-width: 1023px) {
    .cover__subtitle {
        max-width: 47%;
    }
}

@media (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 80%;
        padding-top: 86px;
    }
}