.footer__links {
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
    column-gap: 18px;
    max-width: min-content;    
}

@media (max-width: 767px) {
    .footer__links {
        grid-template: repeat(5, 1fr) / 1fr;
        row-gap: 32px;
    }
}