.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    max-width: 47%;
    grid-row-start: 1;
    grid-column-start: 1;
    align-self: center;
    padding-bottom: 100px;
    z-index: 1;
}

@media (max-width: 1279px) {
    .cover__title {
        max-width: 55%;
    }
}

@media (max-width: 1023px) {
    .cover__title {
        max-width: 73%;
    }
}

@media (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 75%;
        padding-bottom: 63px;
    }
}