.place {
    padding-bottom: 80px;
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
    gap: 48px 40px;
}

@media (max-width: 1024px) {
    .place {
        gap: 48px 32px;
    } 
}

@media (max-width: 768px) {
    .place {
        gap: 48px 28px;
        grid-template: 1fr/ 340px 1fr;
        padding-bottom: 70px;
    } 
}

@media (max-width: 320px) {
    .place {
        gap: 32px;
        grid-template: 1fr/ 320px;
    } 

    .place:nth-of-type(2) {
        padding-bottom: 50px;
    }

    .place:nth-of-type(3) {
        padding-bottom: 49px;
    }

    .place:last-child {
        padding-bottom: 67px;
    }
}
